{{#each formatOrderTasks as | formatOrderTask |}}
	<tr class="table__row taskRowJs" data-task-id="{{formatOrderTask.id}}">
	<td class="cell__order-index">
		<span>{{array @index}}</span>
	</td>
	<td class="cell__order-work">
		<p>{{formatOrderTask.task_id}}</p>
	</td>
	<td class="cell__work-price">
		<span class="taskPriceJs">{{formatOrderTask.task_price}}</span>
	</td>
	<td class="cell__counter">
		{{#ifCond @root.auth.status '!==' '0'}}
			{{#ifCond @root.formatOrderInfo.status_id '===' 'Отменен'}}
				<span class="text_bold  counterValueJs">{{formatOrderTask.amount}}</span>
			{{/ifCond}}
		{{/ifCond}}
		{{#ifCond @root.auth.status '!==' '0'}}
			{{#ifCond @root.formatOrderInfo.status_id '!==' 'Отменен'}}
				<div class="counter ">
					<span class="counter__minus counterMinusJs"></span>
					<span class="counter__value counterValueJs">{{formatOrderTask.amount}}</span>
					<span class="counter__plus counterPlusJs"></span>
				</div>
			{{/ifCond}}
		{{/ifCond}}
		{{#ifCond @root.auth.status '===' '0'}}
			<span class="text_bold  counterValueJs">{{formatOrderTask.amount}}</span>
		{{/ifCond}}
	</td>

	<td class="cell__total {{#ifCond @root.auth.status '!==' '0'}} edited {{/ifCond}}">
		<span class="text_bold taskTotalPriceJs">{{formatOrderTask.task_total}}</span>
		{{#ifCond @root.auth.status '!==' '0'}}
			{{#ifCond @root.formatOrderInfo.status_id '!==' 'Отменен'}}
				<a href="delete-service" class="delete-item removeTaskJs" data-status-scroll="0">
					<svg>
						<use xlink:href="#close"></use>
					</svg>
				</a>
			{{/ifCond}}
		{{/ifCond}}
	</td>
	<td class="cell-right {{#ifCond @root.formatOrderInfo.status_id '!==' 'Отменен'}} edited {{/ifCond}}">
		<span>{{formatOrderTask.task_price}}</span>

		{{#ifCond @root.auth.status '!==' '0'}}
			{{#ifCond @root.formatOrderInfo.status_id '===' 'Отменен'}}
				<span class="text_bold  counterValueJs">{{formatOrderTask.amount}}</span>
			{{/ifCond}}
		{{/ifCond}}
		{{#ifCond @root.auth.status '!==' '0'}}
			{{#ifCond @root.formatOrderInfo.status_id '!==' 'Отменен'}}
				<div class="counter ">
					<span class="counter__minus counterMinusJs"></span>
					<span class="counter__value counterValueJs">{{formatOrderTask.amount}}</span>
					<span class="counter__plus counterPlusJs"></span>
				</div>
			{{/ifCond}}
		{{/ifCond}}
		{{#ifCond @root.auth.status '===' '0'}}
			<span class="text_bold  counterValueJs">{{formatOrderTask.amount}}</span>
		{{/ifCond}}

		<span class="text_bold taskTotalPriceJs">{{formatOrderTask.task_total}}</span>

		{{#ifCond @root.auth.status '!==' '0'}}
			{{#ifCond @root.formatOrderInfo.status_id '!==' 'Отменен'}}
				<a href="delete-service" class="delete-item removeTaskJs" data-status-scroll="0">
					<svg>
						<use xlink:href="#close"></use>
					</svg>
				</a>
			{{/ifCond}}
		{{/ifCond}}
	</td>
</tr>
{{/each}}
<tr class="table__row">
	<td class="cell__total-text" colspan="4">
		<span class="text_bold">ИТОГО:</span>
	</td>
	<td class="cell__total-text mob" colspan="2">
		<span class="text_bold">ИТОГО:</span>
	</td>
	<td class="cell__total-all">
		<span class="text_bold">{{orderTotal}}</span>
	</td>
</tr>
